<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>LOGIN page</h1>
    <form action="/login" method="POST">
      <input type="text" id="name" name="name">
      <input type="password" id="password" name="password">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
